.cardStatus{
   background-color: var(--hover-color);
   height: 160px;
   border-radius: 12px;
   box-shadow: 7px 7px 11px -4px rgb(0, 0, 0, .25);
   max-width: 280px;
}

.icon{
   color: var(--main-color);
   font-size: 2rem;
}

.info{
   color: var(--main-color);
   font-weight: 700px;
 }

.counter, 
.tittle {
   font-size: 2rem;
   font-weight: bold;
}

.tittle{
   font-size: 1.1rem;
 }