@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --main-color: #00315e;
  --whit-color: #fff;
  --second-color: #4fb7b3;
  --hover-color: #6ec1e4;
  --text-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  background-color: var(--whit-color);
  color: var(--text-color);
}
